[project]
	description = Unsupported version of Cannibal Open Touch v2.99.10.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Drew Walton (drewwalton19216801)
[access "refs/for/refs/*"]
	read = group user/Drew Walton (drewwalton19216801)
	push = group user/Drew Walton (drewwalton19216801)
	label-Code-Review = -2..+2 group user/Drew Walton (drewwalton19216801)
	label-Verified = -1..+1 group user/Drew Walton (drewwalton19216801)
	rebase = group user/Drew Walton (drewwalton19216801)
	removeReviewer = group user/Drew Walton (drewwalton19216801)
	submit = group user/Drew Walton (drewwalton19216801)
[access "refs/heads/*"]
	read = group user/Drew Walton (drewwalton19216801)
	create = group user/Drew Walton (drewwalton19216801)
	push = +force group user/Drew Walton (drewwalton19216801)
	pushMerge = group user/Drew Walton (drewwalton19216801)
[access "refs/tags/*"]
	push = +force group user/Drew Walton (drewwalton19216801)
	pushTag = group user/Drew Walton (drewwalton19216801)
	pushSignedTag = group user/Drew Walton (drewwalton19216801)
